# **REVERSÃO DA TRANSFORMAÇÃO E DIFERENCIAÇÃO**

a transformação altera os valores dos dados. E depois que fizermos a previsão vamos querer retornar à escala original. Principalmente quando se faz a previsão das séries temporais. 

Temos que saber fazer a reversão tando da transformação como da diferenciação.

In [1]:
#mportaremos as bibliotecas
import numpy as np
import pandas as pd

In [2]:
##### Abertura do arquivo de Séries Temporais Air Passengers
dados = pd.read_csv('AirPassengers.csv',
                    sep=',')

In [3]:
###### Leitura do arquivo Air Passengers
dados

       Month  #Passengers
0    1949-01          112
1    1949-02          118
2    1949-03          132
3    1949-04          129
4    1949-05          121
..       ...          ...
139  1960-08          606
140  1960-09          508
141  1960-10          461
142  1960-11          390
143  1960-12          432

[144 rows x 2 columns]

In [4]:
serie = pd.Series(dados['#Passengers'].values, index = dados['Month'])
serie

Month
1949-01    112
1949-02    118
1949-03    132
1949-04    129
1949-05    121
          ...
1960-08    606
1960-09    508
1960-10    461
1960-11    390
1960-12    432
Length: 144, dtype: int64

## **REVERSÃO DA TRANSFORMAÇÃO POR LOGARITMO**

np.log ele é um logaritmo natural = ln, tem base e

depois faremos o log10, com base 10.

In [5]:
# Transformação por log (Este log é o logaritmo natural, tem base e)
serie2 = np.log(serie)
serie2

Month
1949-01    4.718499
1949-02    4.770685
1949-03    4.882802
1949-04    4.859812
1949-05    4.795791
             ...
1960-08    6.406880
1960-09    6.230481
1960-10    6.133398
1960-11    5.966147
1960-12    6.068426
Length: 144, dtype: float64

## reverter os valores

Euler => o logaritmo natural de um número, é o logaritmo desse número na base igual a 2,71, ou na base e.

In [6]:
serie_revertida =  np.e**serie2
serie_revertida

Month
1949-01    112.0
1949-02    118.0
1949-03    132.0
1949-04    129.0
1949-05    121.0
           ...
1960-08    606.0
1960-09    508.0
1960-10    461.0
1960-11    390.0
1960-12    432.0
Length: 144, dtype: float64

logaritimo de base 10

In [7]:
# logaritmo de base 10
serie2 = np.log10(serie)
serie2

Month
1949-01    2.049218
1949-02    2.071882
1949-03    2.120574
1949-04    2.110590
1949-05    2.082785
             ...
1960-08    2.782473
1960-09    2.705864
1960-10    2.663701
1960-11    2.591065
1960-12    2.635484
Length: 144, dtype: float64

In [8]:
serie_revertida =  10**serie2
serie_revertida

Month
1949-01    112.0
1949-02    118.0
1949-03    132.0
1949-04    129.0
1949-05    121.0
           ...
1960-08    606.0
1960-09    508.0
1960-10    461.0
1960-11    390.0
1960-12    432.0
Length: 144, dtype: float64

## **REVERSÃO DA TRANSFORMAÇÃO POR RAIZ CÚBICA**

raiz cúbica (quando possui dados com <b>valor zero ou negativos</b>)

In [9]:
# Transformação por raiz cúbica (quando possui dados com valor zero ou negativos)
serie3 = (serie)**(1/3)
serie3

Month
1949-01    4.820285
1949-02    4.904868
1949-03    5.091643
1949-04    5.052774
1949-05    4.946087
             ...
1960-08    8.462348
1960-09    7.979112
1960-10    7.725032
1960-11    7.306144
1960-12    7.559526
Length: 144, dtype: float64

In [10]:
serie_revertida = serie3**3
serie_revertida

Month
1949-01    112.0
1949-02    118.0
1949-03    132.0
1949-04    129.0
1949-05    121.0
           ...
1960-08    606.0
1960-09    508.0
1960-10    461.0
1960-11    390.0
1960-12    432.0
Length: 144, dtype: float64

## **REVERSÃO DA DIFERENCIAÇÃO**

valor de uma determinada série e subtrair do antecessor da mesma série.

perdemos o primeiro dado

In [12]:
serie_diferenciada = serie.diff()
serie_diferenciada

Month
1949-01     NaN
1949-02     6.0
1949-03    14.0
1949-04    -3.0
1949-05    -8.0
           ...
1960-08   -16.0
1960-09   -98.0
1960-10   -47.0
1960-11   -71.0
1960-12    42.0
Length: 144, dtype: float64

reverter, pegar o valor que foi diferenciado e somar com o antecessor.

In [13]:
serie_revertida = serie.shift(1) + serie_diferenciada
serie_revertida

Month
1949-01      NaN
1949-02    118.0
1949-03    132.0
1949-04    129.0
1949-05    121.0
           ...
1960-08    606.0
1960-09    508.0
1960-10    461.0
1960-11    390.0
1960-12    432.0
Length: 144, dtype: float64

**Organizando num dataframe**

Não tenho a série, agora tenho os dados originais mesmo

manter os valores diferenciados tanto como o da diferenciação;

In [14]:
##### Fazer a diferenciação dos valores que estão na coluna #Passengers e criar uma coluna no Dataframe com o nome: valores_diferenciados
dados['valores_diferenciados'] = dados['#Passengers'].diff()
dados

       Month  #Passengers  valores_diferenciados
0    1949-01          112                    NaN
1    1949-02          118                    6.0
2    1949-03          132                   14.0
3    1949-04          129                   -3.0
4    1949-05          121                   -8.0
..       ...          ...                    ...
139  1960-08          606                  -16.0
140  1960-09          508                  -98.0
141  1960-10          461                  -47.0
142  1960-11          390                  -71.0
143  1960-12          432                   42.0

[144 rows x 3 columns]

somar ao antecessor com a diferenciação, parar ter os valores revertidos.

In [15]:
##### Reverter a diferenciação da coluna valores_diferenciados e criar mais uma coluna com o nome valores_revertidos 
dados['valores_revertidos'] = dados['#Passengers'].shift(1) + dados['valores_diferenciados']
dados

       Month  #Passengers  valores_diferenciados  valores_revertidos
0    1949-01          112                    NaN                 NaN
1    1949-02          118                    6.0               118.0
2    1949-03          132                   14.0               132.0
3    1949-04          129                   -3.0               129.0
4    1949-05          121                   -8.0               121.0
..       ...          ...                    ...                 ...
139  1960-08          606                  -16.0               606.0
140  1960-09          508                  -98.0               508.0
141  1960-10          461                  -47.0               461.0
142  1960-11          390                  -71.0               390.0
143  1960-12          432                   42.0               432.0

[144 rows x 4 columns]

112 +6 = 118

118 +14 =  132